<div class="container my-5">

  <!-- Section: Block Content -->
  <section>

    <h3 class="font-weight-bold dark-grey-text text-center mb-5">Teams And Their Squads</h3>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-4">

        <!-- Card -->
        <div class="card card-ecommerce">

          <div class="view overlay">
            <img src="assets/csk.jpg" class="img-fluid"
              alt="sample image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <div class="card-body">

            <h5 class="card-title mb-1"><strong><a class="dark-grey-text">CSK</a></strong></h5>

            <button type="button" class="btn  blue darken-3" data-toggle="modal" data-target="#myModal1">
              Players
            </button>
            <div class="modal" id="myModal1">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">CSK squad</h4>
                    <button type="button" class="close" data-dismiss="modal" style="color: rgb(0, 0, 0);">&times;</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    <table class="table table-striped table-responsive-md table-responsive-sm btn-table mt-2">
                      <tbody>
                          <tr>
                              <td data-row="1"><strong>Player</strong></td>
                              <td data-row="1"><strong>Role</strong></td>
                              <td data-row="1"><strong>Price</strong></td>
                          </tr>
                          <tr>
                              <td data-row="2">Ambati Rayudu (R)</td>
                              <td data-row="2">Batsman</td>
                              <td data-row="2">2.20 crore</td>
                          </tr>
                          <tr>
                              <td data-row="3">Monu Kumar (R)</td>
                              <td data-row="3">Batsman</td>
                              <td data-row="3">20 lakhs</td>
                          </tr>
                          <tr>
                              <td data-row="4">Murali Vijay (R)</td>
                              <td data-row="4">Batsman</td>
                              <td data-row="4">2 crore</td>
                          </tr>
                          <tr>
                              <td data-row="5">Ruturaj Gaikwad (R)</td>
                              <td data-row="5">Batsman</td>
                              <td data-row="5">20 lakhs</td>
                          </tr>
                          <tr>
                              <td data-row="6">MS Dhoni (R)</td>
                              <td data-row="6">Wicket Keeper</td>
                              <td data-row="6">15 crore</td>
                          </tr>
                          <tr>
                              <td data-row="7">Jagadeesan Narayan (R)</td>
                              <td data-row="7">Wicket Keeper</td>
                              <td data-row="7">20 lakhs</td>
                          </tr>
                          <tr>
                              <td data-row="8">K M Asif (R)</td>
                              <td data-row="8">All-Rounder</td>
                              <td data-row="8">40 lakhs</td>
                          </tr>
                          <tr>
                              <td data-row="9">Dwayne Bravo (R)</td>
                              <td data-row="9">All-Rounder</td>
                              <td data-row="9">6.40 crore</td>
                          </tr>
                          <tr>
                              <td data-row="10">Faf du Plessis (R)</td>
                              <td data-row="10">All-Rounder</td>
                              <td data-row="10">1.60 crore</td>
                          </tr>
                          <tr>
                              <td data-row="11">Karn Sharma (R)</td>
                              <td data-row="11">All-Rounder</td>
                              <td data-row="11">5 crore</td>
                          </tr>
                          <tr>
                              <td data-row="12">Kedar Jadhav (R)</td>
                              <td data-row="12">All-Rounder</td>
                              <td data-row="12">7.80 crore</td>
                          </tr>
                          <tr>
                              <td data-row="13">Ravindra jadeja (R)</td>
                              <td data-row="13">All-Rounder</td>
                              <td data-row="13">7 crore</td>
                          </tr>
                          <tr>
                              <td data-row="14">Shane Watson (R)</td>
                              <td data-row="14">All-Rounder</td>
                              <td data-row="14">4 crore</td>
                          </tr>
                          <tr>
                              <td data-row="15">Sam Curran</td>
                              <td data-row="15">All-Rounder</td>
                              <td data-row="15">5.50 crore</td>
                          </tr>
                          <tr>
                              <td data-row="16">Deepak Chahar (R)</td>
                              <td data-row="16">Bowler</td>
                              <td data-row="16">80 lakhs</td>
                          </tr>
                          <tr>
                              <td data-row="17">Imran Tahir (R)</td>
                              <td data-row="17">Bowler</td>
                              <td data-row="17">1 crore</td>
                          </tr>
                          <tr>
                              <td data-row="18">Lungisani Ngidi (R)</td>
                              <td data-row="18">Bowler</td>
                              <td data-row="18">50 lakhs</td>
                          </tr>
                          <tr>
                              <td data-row="19">Mitchell Santner (R)</td>
                              <td data-row="19">Bowler</td>
                              <td data-row="19">50 lakhs</td>
                          </tr>
                          <tr>
                              <td data-row="20">Shardul Thakur (R)</td>
                              <td data-row="20">Bowler</td>
                              <td data-row="20">2.60 crore</td>
                          </tr>
                          <tr>
                              <td data-row="21">Piyush Chawla</td>
                              <td data-row="21">Bowler</td>
                              <td data-row="21">6.75 crore</td>
                          </tr>
                          <tr>
                              <td data-row="22">Josh Hazlewood</td>
                              <td data-row="22">Bowler</td>
                              <td data-row="22">2 crore</td>
                          </tr>
                          <tr>
                              <td data-row="23">R. Sai Kishore</td>
                              <td data-row="23">Bowler</td>
                              <td data-row="23">20 lakhs</td>
                          </tr>
                      </tbody>
                  </table>
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>

                </div>
              </div>
            </div>



          </div>

        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-4">

        <!-- Card -->
        <div class="card card-ecommerce">

          <div class="view overlay">
            <img src="assets/mi.jpg" class="img-fluid"
              alt="sample image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <div class="card-body">

            <h5 class="card-title mb-1"><strong><a class="dark-grey-text">MI</a></strong></h5>
            <button type="button" class="btn  blue darken-3" data-toggle="modal" data-target="#myModal2">
             Players
            </button>
<div class="modal" id="myModal2">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">MI Squad</h4>
        <button type="button" class="close" data-dismiss="modal" style="color: rgb(0, 0, 0);">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <table class="table table-striped table-responsive-md table-responsive-sm btn-table mt-2">
          <tbody>
              <tr>
                  <td data-row="1"><strong>Player</strong></td>
                  <td data-row="1"><strong>Role</strong></td>
                  <td data-row="1"><strong>Price</strong></td>
              </tr>
              <tr>
                  <td data-row="2">Rohit Sharma (R)</td>
                  <td data-row="2">Batsman</td>
                  <td data-row="2">15 crore</td>
              </tr>
              <tr>
                  <td data-row="3">Anmolpreet Singh (R)</td>
                  <td data-row="3">Batsman</td>
                  <td data-row="3">80 lakhs</td>
              </tr>
              <tr>
                  <td data-row="4">Ankul Roy (R)</td>
                  <td data-row="4">Batsman</td>
                  <td data-row="4">20 lakhs</td>
              </tr>
              <tr>
                  <td data-row="5">Sherfane Rutherford (R)</td>
                  <td data-row="5">Batsman</td>
                  <td data-row="5">2 crore</td>
              </tr>
              <tr>
                  <td data-row="6">Suryakumar Yadav (R)</td>
                  <td data-row="6">Batsman</td>
                  <td data-row="6">3.20 crore</td>
              </tr>
              <tr>
                  <td data-row="7">Chris Lynn</td>
                  <td data-row="7">Batsman</td>
                  <td data-row="7">2 crore</td>
              </tr>
              <tr>
                  <td data-row="8">Saurabh Tiwary</td>
                  <td data-row="8">Batsman</td>
                  <td data-row="8">50 lakhs</td>
              </tr>
              <tr>
                  <td data-row="9">Aditya Tare (R)</td>
                  <td data-row="9">Wicket Keeper</td>
                  <td data-row="9">20 lakhs</td>
              </tr>
              <tr>
                  <td data-row="10">Ishan Kishan (R)</td>
                  <td data-row="10">Wicket Keeper</td>
                  <td data-row="10">6.20 crore</td>
              </tr>
              <tr>
                  <td data-row="11">Quinton de Kock (R)</td>
                  <td data-row="11">Wicket Keeper</td>
                  <td data-row="11">2.80 crore</td>
              </tr>
              <tr>
                  <td data-row="12">Hardik Pandya (R)</td>
                  <td data-row="12">All-Rounder</td>
                  <td data-row="12">11 crore</td>
              </tr>
              <tr>
                  <td data-row="13">Kieron Pollard (R)</td>
                  <td data-row="13">All-Rounder</td>
                  <td data-row="13">5.40 crore</td>
              </tr>
              <tr>
                  <td data-row="14">Krunal Pandya (R)</td>
                  <td data-row="14">All-Rounder</td>
                  <td data-row="14">8.80 crore</td>
              </tr>
              <tr>
                  <td data-row="15">Rahul Chahar (R)</td>
                  <td data-row="15">All-Rounder</td>
                  <td data-row="15">1.90 crore</td>
              </tr>
              <tr>
                  <td data-row="16">Digvijay Deshmukh</td>
                  <td data-row="16">All-Rounder</td>
                  <td data-row="16">20 lakhs</td>
              </tr>
              <tr>
                  <td data-row="17">Prince Balwant Rai Singh</td>
                  <td data-row="17">All-Rounder</td>
                  <td data-row="17">20 lakhs</td>
              </tr>
              <tr>
                  <td data-row="18">Dhawal Kulkarni (R)</td>
                  <td data-row="18">Bowler</td>
                  <td data-row="18">75 lakhs</td>
              </tr>
              <tr>
                  <td data-row="19">Jasprit Bumrah (R)</td>
                  <td data-row="19">Bowler</td>
                  <td data-row="19">7 crore</td>
              </tr>
              <tr>
                  <td data-row="20">Jayant Yadav (R)</td>
                  <td data-row="20">Bowler</td>
                  <td data-row="20">50 lakhs</td>
              </tr>
              <tr>
                  <td data-row="21">James Pattinson</td>
                  <td data-row="21">Bowler</td>
                  <td data-row="21">1 crore</td>
              </tr>
              <tr>
                  <td data-row="22">Mitchell McClenaghan (R)</td>
                  <td data-row="22">Bowler</td>
                  <td data-row="22">1 crore</td>
              </tr>
              <tr>
                  <td data-row="23">Trent Boult (R)</td>
                  <td data-row="23">Bowler</td>
                  <td data-row="23">3.20 crore</td>
              </tr>
              <tr>
                  <td data-row="24">Nathan Coulter-Nile</td>
                  <td data-row="24">Bowler</td>
                  <td data-row="24">8 crore</td>
              </tr>
              <tr>
                  <td data-row="25">Mohsin Khan</td>
                  <td data-row="25">Bowler</td>
                  <td data-row="25">20 lakhs</td>
              </tr>
          </tbody>
      </table>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>



          </div>

        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-4">

        <!-- Card -->
        <div class="card card-ecommerce">

          <div class="view overlay">
            <img src="assets/rcb.jpg" class="img-fluid"
              alt="sample image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <div class="card-body">

            <h5 class="card-title mb-1"><strong><a class="dark-grey-text">RCB</a></strong></h5>
          <button type="button" class="btn  blue darken-3" data-toggle="modal" data-target="#myModal3">
Players
</button>
<!-- The Modal -->
<div class="modal" id="myModal3">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">RCB Squad</h4>
        <button type="button" class="close" data-dismiss="modal" style="color: rgb(0, 0, 0);">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <table class="table table-striped table-responsive-md table-responsive-sm btn-table mt-2">
          <tbody>
              <tr>
                  <td data-row="1"><strong>Player</strong></td>
                  <td data-row="1"><strong>Role</strong></td>
                  <td data-row="1"><strong>Price</strong></td>
              </tr>
              <tr>
                  <td data-row="2">Virat Kohli (R)</td>
                  <td data-row="2">Batsman</td>
                  <td data-row="2">17 crore</td>
              </tr>
              <tr>
                  <td data-row="3">AB de Villiers (R)</td>
                  <td data-row="3">Batsman</td>
                  <td data-row="3">11 crore</td>
              </tr>
              <tr>
                  <td data-row="4">Devdutt Padikkal (R)</td>
                  <td data-row="4">Batsman</td>
                  <td data-row="4">20 lakhs</td>
              </tr>
              <tr>
                  <td data-row="5">Gurkeerat Singh (R)</td>
                  <td data-row="5">Batsman</td>
                  <td data-row="5">50 lakhs</td>
              </tr>
              <tr>
                  <td data-row="6">Aaron Finch</td>
                  <td data-row="6">Batsman</td>
                  <td data-row="6">4.40 crore</td>
              </tr>
              <tr>
                  <td data-row="7">Shahbaz Ahamad</td>
                  <td data-row="7">Wicket Keeper</td>
                  <td data-row="7">20 lakhs</td>
              </tr>
              <tr>
                  <td data-row="8">Joshua Philippe</td>
                  <td data-row="8">Wicket Keeper</td>
                  <td data-row="8">20 lakhs</td>
              </tr>
              <tr>
                  <td data-row="9">Parthiv Patel (R)</td>
                  <td data-row="9">Wicket Keeper</td>
                  <td data-row="9">1.70 crore</td>
              </tr>
              <tr>
                  <td data-row="10">Pawan Negi (R)</td>
                  <td data-row="10">All-Rounder</td>
                  <td data-row="10">1 crore</td>
              </tr>
              <tr>
                  <td data-row="11">Shivam Dube (R)</td>
                  <td data-row="11">All-Rounder</td>
                  <td data-row="11">5 crore</td>
              </tr>
              <tr>
                  <td data-row="12">Moeen Ali (R)</td>
                  <td data-row="12">All-Rounder</td>
                  <td data-row="12">1.70 crore</td>
              </tr>
              <tr>
                  <td data-row="13">Isuru Udana</td>
                  <td data-row="13">All-Rounder</td>
                  <td data-row="13">50 lakhs</td>
              </tr>
              <tr>
                  <td data-row="14">Pavan Deshpande</td>
                  <td data-row="14">All-Rounder</td>
                  <td data-row="14">20 lakhs</td>
              </tr>
              <tr>
                  <td data-row="15">Christopher Morris</td>
                  <td data-row="15">All-Rounder</td>
                  <td data-row="15">10 crore</td>
              </tr>
              <tr>
                  <td data-row="16">Adam Zampa</td>
                  <td data-row="16">Bowler</td>
                  <td data-row="16">1.5 crore</td>
              </tr>
              <tr>
                  <td data-row="17">Dale Steyn</td>
                  <td data-row="17">Bowler</td>
                  <td data-row="17">2 crore</td>
              </tr>
              <tr>
                  <td data-row="18">Mohammed Siraj (R)</td>
                  <td data-row="18">Bowler</td>
                  <td data-row="18">2.60 crore</td>
              </tr>
              <tr>
                  <td data-row="19">Navdeep Saini (R)</td>
                  <td data-row="19">Bowler</td>
                  <td data-row="19">3 crore</td>
              </tr>
              <tr>
                  <td data-row="20">Umesh Yadav (R)</td>
                  <td data-row="20">Bowler</td>
                  <td data-row="20">4.20 crore</td>
              </tr>
              <tr>
                  <td data-row="21">Washington Sundar (R)</td>
                  <td data-row="21">Bowler</td>
                  <td data-row="21">3.20 crore</td>
              </tr>
              <tr>
                  <td data-row="22">Yuzvendra Chahal (R)</td>
                  <td data-row="22">Bowler</td>
                  <td data-row="22">6 crore</td>
              </tr>
          </tbody>
      </table>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>



          </div>

        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-4">

        <!-- Card -->
        <div class="card card-ecommerce">

          <div class="view overlay">
            <img src="assets/rr.jpg" class="img-fluid"
              alt="sample image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <div class="card-body">

            <h5 class="card-title mb-1"><strong><a class="dark-grey-text">RR</a></strong></h5>

            <button type="button" class="btn  blue darken-3" data-toggle="modal" data-target="#myModal4">
            Players
            </button>

            <div class="modal" id="myModal4">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">RR Squad</h4>
                    <button type="button" class="close" data-dismiss="modal" style="color: rgb(0, 0, 0);">&times;</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    <table class="table table-striped table-responsive-md table-responsive-sm btn-table mt-2">
                      <tbody>
                          <tr>
                              <td data-row="1"><strong>Player</strong></td>
                              <td data-row="1"><strong>Role</strong></td>
                              <td data-row="1"><strong>Price</strong></td>
                          </tr>
                          <tr>
                              <td data-row="2">Riyan Parag (R)</td>
                              <td data-row="2">Batsman</td>
                              <td data-row="2">20 lakhs</td>
                          </tr>
                          <tr>
                              <td data-row="3">Shashank Singh (R)</td>
                              <td data-row="3">Batsman</td>
                              <td data-row="3">30 lakhs</td>
                          </tr>
                          <tr>
                              <td data-row="4">Steve Smith (R)</td>
                              <td data-row="4">Batsman</td>
                              <td data-row="4">12.50 crore</td>
                          </tr>
                          <tr>
                              <td data-row="5">Robin Uthappa</td>
                              <td data-row="5">Batsman</td>
                              <td data-row="5">3 crore</td>
                          </tr>
                          <tr>
                              <td data-row="6">David Miller</td>
                              <td data-row="6">Batsman</td>
                              <td data-row="6">75 lakhs</td>
                          </tr>
                          <tr>
                              <td data-row="7">Manan Vohra (R)</td>
                              <td data-row="7">Batsman</td>
                              <td data-row="7">20 lakhs</td>
                          </tr>
                          <tr>
                              <td data-row="8">Jos Butler (R)</td>
                              <td data-row="8">Wicket Keeper</td>
                              <td data-row="8">4.40 crore</td>
                          </tr>
                          <tr>
                              <td data-row="9">Sanju Samson (R)</td>
                              <td data-row="9">Wicket Keeper</td>
                              <td data-row="9">8 crore</td>
                          </tr>
                          <tr>
                              <td data-row="10">Anuj Rawat</td>
                              <td data-row="10">Wicket Keeper</td>
                              <td data-row="10">80 lakhs</td>
                          </tr>
                          <tr>
                              <td data-row="11">Ben Stokes (R)</td>
                              <td data-row="11">All-Rounder</td>
                              <td data-row="11">12.50 crore</td>
                          </tr>
                          <tr>
                              <td data-row="12">Mahipal Lomror (R)</td>
                              <td data-row="12">All-Rounder</td>
                              <td data-row="12">20 lakhs</td>
                          </tr>
                          <tr>
                              <td data-row="13">Shreyas Gopal (R)</td>
                              <td data-row="13">All-Rounder</td>
                              <td data-row="13">20 lakhs</td>
                          </tr>
                          <tr>
                              <td data-row="14">Yashasvi Jaiswal</td>
                              <td data-row="14">All-Rounder</td>
                              <td data-row="14">2.40 crore</td>
                          </tr>
                          <tr>
                              <td data-row="15">Tom Curran</td>
                              <td data-row="15">All-Rounder</td>
                              <td data-row="15">1 crore</td>
                          </tr>
                          <tr>
                              <td data-row="16">Ankit Rajpoot (R)</td>
                              <td data-row="16">Bowler</td>
                              <td data-row="16">3 crore</td>
                          </tr>
                          <tr>
                              <td data-row="17">Jofra Archer (R)</td>
                              <td data-row="17">Bowler</td>
                              <td data-row="17">7.20 crore</td>
                          </tr>
                          <tr>
                              <td data-row="18">Mayank Markande (R)</td>
                              <td data-row="18">Bowler</td>
                              <td data-row="18">2 crore</td>
                          </tr>
                          <tr>
                              <td data-row="19">Rahul Tewatia (R)</td>
                              <td data-row="19">Bowler</td>
                              <td data-row="19">3 crore</td>
                          </tr>
                          <tr>
                              <td data-row="20">Varun Aaron (R)</td>
                              <td data-row="20">Bowler</td>
                              <td data-row="20">2.40 crore</td>
                          </tr>
                          <tr>
                              <td data-row="21">Jaydev Unadkat</td>
                              <td data-row="21">Bowler</td>
                              <td data-row="21">3 crore</td>
                          </tr>
                          <tr>
                              <td data-row="22">Kartik Tyagi</td>
                              <td data-row="22">Bowler</td>
                              <td data-row="22">1.30 crore</td>
                          </tr>
                          <tr>
                              <td data-row="23">Andrew Tye</td>
                              <td data-row="23">Bowler</td>
                              <td data-row="23">1 crore</td>
                          </tr>
                          <tr>
                              <td data-row="24">Oshane Thomas</td>
                              <td data-row="24">Bowler</td>
                              <td data-row="24">50 lakhs</td>
                          </tr>
                          <tr>
                              <td data-row="25">Anirudha Ashok Joshi</td>
                              <td data-row="25">All-Rounder</td>
                              <td data-row="25">20 lakhs</td>
                          </tr>
                          <tr>
                              <td data-row="26">Akash Singh</td>
                              <td data-row="26">Bowler</td>
                              <td data-row="26">20 lakhs</td>
                          </tr>
                      </tbody>
                  </table>
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>

                </div>
              </div>
            </div>

          </div>

        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-4">

        <!-- Card -->
        <div class="card card-ecommerce">

          <div class="view overlay">
            <img src="assets/kolkata.jpg" class="img-fluid"
              alt="sample image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <div class="card-body">

            <h5 class="card-title mb-1"><strong><a class="dark-grey-text">KKR</a></strong></h5>
            <button type="button" class="btn  blue darken-3" data-toggle="modal" data-target="#myModal5">
              Players
            </button>

            <div class="modal" id="myModal5">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">KKR Squad</h4>
                    <button type="button" class="close" data-dismiss="modal" style="color: rgb(0, 0, 0);">&times;</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    <table class="table table-striped table-responsive-md table-responsive-sm btn-table mt-2"><tbody>
                      <tr>
                          <td data-row="1"><strong>Player</strong></td>
                          <td data-row="1"><strong>Role</strong></td>
                          <td data-row="1"><strong>Price</strong></td>
                      </tr>
                      <tr>
                          <td data-row="2">Andre Russell (R)</td>
                          <td data-row="2">Batsman</td>
                          <td data-row="2">8.50 crore</td>
                      </tr>
                      <tr>
                          <td data-row="3">Harry Gurney (R)</td>
                          <td data-row="3">Batsman</td>
                          <td data-row="3">75 lakhs</td>
                      </tr>
                      <tr>
                          <td data-row="4">Kamlesh Nagarkoti (R)</td>
                          <td data-row="4">Batsman</td>
                          <td data-row="4">3.20 crore</td>
                      </tr>
                      <tr>
                          <td data-row="5">Lockie Ferguson (R)</td>
                          <td data-row="5">Batsman</td>
                          <td data-row="5">1.60 crore</td>
                      </tr>
                      <tr>
                          <td data-row="6">Nitish Rana (R)</td>
                          <td data-row="6">Batsman</td>
                          <td data-row="6">3.40 crore</td>
                      </tr>
                      <tr>
                          <td data-row="7">Prasidh Krishna (R)</td>
                          <td data-row="7">Batsman</td>
                          <td data-row="7">20 lakhs</td>
                      </tr>
                      <tr>
                          <td data-row="8">Rinku Singh (R)</td>
                          <td data-row="8">Batsman</td>
                          <td data-row="8">80 lakhs</td>
                      </tr>
                      <tr>
                          <td data-row="9">Shubham Gill (R)</td>
                          <td data-row="9">Batsman</td>
                          <td data-row="9">1.80 crore</td>
                      </tr>
                      <tr>
                          <td data-row="10">Siddhesh Lad (R)</td>
                          <td data-row="10">Batsman</td>
                          <td data-row="10">20 lakhs</td>
                      </tr>
                      <tr>
                          <td data-row="11">Eoin Morgan</td>
                          <td data-row="11">Batsman</td>
                          <td data-row="11">5.25 crore</td>
                      </tr>
                      <tr>
                          <td data-row="12">Tom Banton</td>
                          <td data-row="12">Batsman</td>
                          <td data-row="12">1 crore</td>
                      </tr>
                      <tr>
                          <td data-row="13">Rahul Tripathi</td>
                          <td data-row="13">Batsman</td>
                          <td data-row="13">60 lakhs</td>
                      </tr>
                      <tr>
                          <td data-row="14">Dinesh Karthik (R)</td>
                          <td data-row="14">Wicket Keeper</td>
                          <td data-row="14">7.40 crore</td>
                      </tr>
                      <tr>
                          <td data-row="15">Nikhil Shankar Naik</td>
                          <td data-row="15">Wicket Keeper</td>
                          <td data-row="15">20 lakhs</td>
                      </tr>
                      <tr>
                          <td data-row="16">Sunil Narine (R)</td>
                          <td data-row="16">All-Rounder</td>
                          <td data-row="16">12.50 crore</td>
                      </tr>
                      <tr>
                          <td data-row="17">Pat Cummins</td>
                          <td data-row="17">All-Rounder</td>
                          <td data-row="17">15.5 crore</td>
                      </tr>
                      <tr>
                          <td data-row="18">Shivam Mavi (R)</td>
                          <td data-row="18">All-Rounder</td>
                          <td data-row="18">3 crore</td>
                      </tr>
                      <tr>
                          <td data-row="19">Varun Chakaravarthy</td>
                          <td data-row="19">All-Rounder</td>
                          <td data-row="19">4 crore</td>
                      </tr>
                      <tr>
                          <td data-row="20">Chris Green</td>
                          <td data-row="20">All-Rounder</td>
                          <td data-row="20">20 lakhs</td>
                      </tr>
                      <tr>
                          <td data-row="21">Kuldeep Yadav (R)</td>
                          <td data-row="21">Bowler</td>
                          <td data-row="21">5.80 crore</td>
                      </tr>
                      <tr>
                          <td data-row="22">Sandeep Warrier (R)</td>
                          <td data-row="22">Bowler</td>
                          <td data-row="22">20 lakhs</td>
                      </tr>
                      <tr>
                          <td data-row="23">M Siddharth</td>
                          <td data-row="23">Bowler</td>
                          <td data-row="23">20 lakhs</td>
                      </tr>
                  </tbody>
                  </table>
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>

                </div>
              </div>
            </div>



          </div>

        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-4">

        <!-- Card -->
        <div class="card card-ecommerce">

          <div class="view overlay">
            <img src="assets/srh.jpg" class="img-fluid"
              alt="sample image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <div class="card-body">

            <h5 class="card-title mb-1"><strong><a class="dark-grey-text">SRH</a></strong></h5>

            <button type="button" class="btn  blue darken-3" data-toggle="modal" data-target="#myModal6">
              Players
            </button>
<!-- The Modal -->
<div class="modal" id="myModal6">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">SRH Squad</h4>
        <button type="button" class="close" data-dismiss="modal" style="color: rgb(0, 0, 0);">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <table class="table table-striped table-responsive-md table-responsive-sm btn-table mt-2">
          <tbody>
              <tr>
                  <td data-row="1"><strong>Player</strong></td>
                  <td data-row="1"><strong>Role</strong></td>
                  <td data-row="1"><strong>Price</strong></td>
              </tr>
              <tr>
                  <td data-row="2">Kane Williamson (R)</td>
                  <td data-row="2">Batsman</td>
                  <td data-row="2">3 crore</td>
              </tr>
              <tr>
                  <td data-row="3">Abhishek Sharma (R)</td>
                  <td data-row="3">Batsman</td>
                  <td data-row="3">55 lakhs</td>
              </tr>
              <tr>
                  <td data-row="4">David Warner (R)</td>
                  <td data-row="4">Batsman</td>
                  <td data-row="4">12.50 crore</td>
              </tr>
              <tr>
                  <td data-row="5">Manish Pandey (R)</td>
                  <td data-row="5">Batsman</td>
                  <td data-row="5">11 crore</td>
              </tr>
              <tr>
                  <td data-row="6">Priyam Garg</td>
                  <td data-row="6">Batsman</td>
                  <td data-row="6">1.90 crore</td>
              </tr>
              <tr>
                  <td data-row="7">Virat Singh</td>
                  <td data-row="7">Batsman</td>
                  <td data-row="7">1.90 crore</td>
              </tr>
              <tr>
                  <td data-row="8">Jonny Bairstow (R)</td>
                  <td data-row="8">Wicket Keeper</td>
                  <td data-row="8">2.20 crore</td>
              </tr>
              <tr>
                  <td data-row="9">Shreevats Goswami (R)</td>
                  <td data-row="9">Wicket Keeper</td>
                  <td data-row="9">1 crore</td>
              </tr>
              <tr>
                  <td data-row="10">Wridhhiman Saha (R)</td>
                  <td data-row="10">Wicket Keeper</td>
                  <td data-row="10">1.20 crore</td>
              </tr>
              <tr>
                  <td data-row="11">Vijay Shankar (R)</td>
                  <td data-row="11">All-Rounder</td>
                  <td data-row="11">3.20 crore</td>
              </tr>
              <tr>
                  <td data-row="12">Mitchell Marsh</td>
                  <td data-row="12">All-Rounder</td>
                  <td data-row="12">2 crore</td>
              </tr>
              <tr>
                  <td data-row="13">Mohammad Nabi (R)</td>
                  <td data-row="13">All-Rounder</td>
                  <td data-row="13">1 crore</td>
              </tr>
              <tr>
                  <td data-row="14">Fabian Allen</td>
                  <td data-row="14">All-Rounder</td>
                  <td data-row="14">50 lakhs</td>
              </tr>
              <tr>
                  <td data-row="15">Sandeep Bavanaka</td>
                  <td data-row="15">All-Rounder</td>
                  <td data-row="15">20 lakhs</td>
              </tr>
              <tr>
                  <td data-row="16">Sanjay Yadav</td>
                  <td data-row="16">All-Rounder</td>
                  <td data-row="16">20 lakhs</td>
              </tr>
              <tr>
                  <td data-row="17">Abdul Samad</td>
                  <td data-row="17">All-Rounder</td>
                  <td data-row="17">20 lakhs</td>
              </tr>
              <tr>
                  <td data-row="18">Basil Thampi (R)</td>
                  <td data-row="18">Bowler</td>
                  <td data-row="18">95 lakhs</td>
              </tr>
              <tr>
                  <td data-row="19">Bhuvneshwar Kumar (R)</td>
                  <td data-row="19">Bowler</td>
                  <td data-row="19">8.50 crore</td>
              </tr>
              <tr>
                  <td data-row="20">Billy Stanlake (R)</td>
                  <td data-row="20">Bowler</td>
                  <td data-row="20">50 lakhs</td>
              </tr>
              <tr>
                  <td data-row="21">Rashid Khan (R)</td>
                  <td data-row="21">Bowler</td>
                  <td data-row="21">9 crore</td>
              </tr>
              <tr>
                  <td data-row="22">Sandeep Sharma (R)</td>
                  <td data-row="22">Bowler</td>
                  <td data-row="22">3 crore</td>
              </tr>
              <tr>
                  <td data-row="23">Shahbaz Nadeem (R)</td>
                  <td data-row="23">Bowler</td>
                  <td data-row="23">3.20 crore</td>
              </tr>
              <tr>
                  <td data-row="24">Siddarth Kaul (R)</td>
                  <td data-row="24">Bowler</td>
                  <td data-row="24">3.80 crore</td>
              </tr>
              <tr>
                  <td data-row="25">Syed Khaleel Ahmed (R)</td>
                  <td data-row="25">Bowler</td>
                  <td data-row="25">3 crore</td>
              </tr>
              <tr>
                  <td data-row="26">T Natarajan (R)</td>
                  <td data-row="26">Bowler</td>
                  <td data-row="26">40 lakhs</td>
              </tr>
          </tbody>
      </table>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


          </div>

        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-4">

        <!-- Card -->
        <div class="card card-ecommerce">

          <div class="view overlay">
            <img src="assets/punjab.jpg" class="img-fluid"
              alt="sample image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <div class="card-body">

            <h5 class="card-title mb-1"><strong><a class="dark-grey-text">kXIP</a></strong></h5>
          <button type="button" class="btn  blue darken-3" data-toggle="modal" data-target="#myModal7">
 Players
</button>
<!-- The Modal -->
<div class="modal" id="myModal7">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">KXIP squad</h4>
        <button type="button" class="close" data-dismiss="modal" style="color: rgb(0, 0, 0);">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <table class="table table-striped table-responsive-md table-responsive-sm btn-table mt-2">
          <tbody>
              <tr>
                  <td data-row="1"><strong>Player</strong></td>
                  <td data-row="1"><strong>Role</strong></td>
                  <td data-row="1"><strong>Price</strong></td>
              </tr>
              <tr>
                  <td data-row="2">Karun Nair (R)</td>
                  <td data-row="2">Batsman</td>
                  <td data-row="2">5.60 crore</td>
              </tr>
              <tr>
                  <td data-row="3">Arshdeep Singh (R)</td>
                  <td data-row="3">Batsman</td>
                  <td data-row="3">20 lakhs</td>
              </tr>
              <tr>
                  <td data-row="4">Chris Gayle (R)</td>
                  <td data-row="4">Batsman</td>
                  <td data-row="4">2 crore</td>
              </tr>
              <tr>
                  <td data-row="5">Darshan Nalkande (R)</td>
                  <td data-row="5">Batsman</td>
                  <td data-row="5">30 lakhs</td>
              </tr>
              <tr>
                  <td data-row="6">Gowtham Krishnappa (R)</td>
                  <td data-row="6">Batsman</td>
                  <td data-row="6">6.20 crore</td>
              </tr>
              <tr>
                  <td data-row="7">Hardus Viljoen (R)</td>
                  <td data-row="7">Batsman</td>
                  <td data-row="7">75 lakhs</td>
              </tr>
              <tr>
                  <td data-row="8">Harpreet Brar (R)</td>
                  <td data-row="8">Batsman</td>
                  <td data-row="8">20 lakhs</td>
              </tr>
              <tr>
                  <td data-row="9">Mayank Agarwal (R)</td>
                  <td data-row="9">Batsman</td>
                  <td data-row="9">1 crore</td>
              </tr>
              <tr>
                  <td data-row="10">Nicholas Pooran (R)</td>
                  <td data-row="10">Batsman</td>
                  <td data-row="10">4.20 crore</td>
              </tr>
              <tr>
                  <td data-row="11">Sarfaraz Khan (R)</td>
                  <td data-row="11">Batsman</td>
                  <td data-row="11">25 lakhs</td>
              </tr>
              <tr>
                  <td data-row="12">Simran Singh</td>
                  <td data-row="12">Wicket Keeper</td>
                  <td data-row="12">55 lakhs</td>
              </tr>
              <tr>
                  <td data-row="13">KL Rahul (R)</td>
                  <td data-row="13">Wicket Keeper</td>
                  <td data-row="13">11 crore</td>
              </tr>
              <tr>
                  <td data-row="14">Mandeep Singh (R)</td>
                  <td data-row="14">All-Rounder</td>
                  <td data-row="14">1.40 crore</td>
              </tr>
              <tr>
                  <td data-row="15">Glenn Maxwell</td>
                  <td data-row="15">All-Rounder</td>
                  <td data-row="15">10.75 crore</td>
              </tr>
              <tr>
                  <td data-row="16">Chris Jordan</td>
                  <td data-row="16">All-Rounder</td>
                  <td data-row="16">3 crore</td>
              </tr>
              <tr>
                  <td data-row="17">Deepak Hooda</td>
                  <td data-row="17">All-Rounder</td>
                  <td data-row="17">50 lakhs</td>
              </tr>
              <tr>
                  <td data-row="18">James Neesham</td>
                  <td data-row="18">All-Rounder</td>
                  <td data-row="18">50 lakhs</td>
              </tr>
              <tr>
                  <td data-row="19">Tajinder Singh Dhillon</td>
                  <td data-row="19">All-Rounder</td>
                  <td data-row="19">20 lakhs</td>
              </tr>
              <tr>
                  <td data-row="20">Ishan Porel</td>
                  <td data-row="20">Bowler</td>
                  <td data-row="20">20 lakhs</td>
              </tr>
              <tr>
                  <td data-row="21">Jagadeesha Suchith (R)</td>
                  <td data-row="21">Bowler</td>
                  <td data-row="21">20 lakhs</td>
              </tr>
              <tr>
                  <td data-row="22">Mohammad Shami (R)</td>
                  <td data-row="22">Bowler</td>
                  <td data-row="22">4.80 crore</td>
              </tr>
              <tr>
                  <td data-row="23">Ravi Bishnoi</td>
                  <td data-row="23">Bowler</td>
                  <td data-row="23">2 crore</td>
              </tr>
              <tr>
                  <td data-row="24">Sheldon Cottrell</td>
                  <td data-row="24">Bowler</td>
                  <td data-row="24">8.50 crore</td>
              </tr>
              <tr>
                  <td data-row="25">Murugan Ashwin (R)</td>
                  <td data-row="25">Bowler</td>
                  <td data-row="25">20 lakhs</td>
              </tr>
              <tr>
                  <td data-row="26">Mujeeb Ur Rahman</td>
                  <td data-row="26">Bowler</td>
                  <td data-row="26">4 crore</td>
              </tr>
          </tbody>
      </table>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>



          </div>

        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-4">

        <!-- Card -->
        <div class="card card-ecommerce">

          <div class="view overlay">
            <br/>

            <img src="assets/dclogo.jpg" class="img-fluid"
              alt="sample image">
              <br/>
              <br/>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <div class="card-body">

            <h5 class="card-title mb-1"><strong><a class="dark-grey-text">DC</a></strong></h5>
            <button type="button" class="btn  blue darken-3 mb-3" data-toggle="modal" data-target="#myModal8">
              Players
            </button>
<div class="modal" id="myModal8">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">DC Squad</h4>
        <button type="button" class="close" data-dismiss="modal" style="color: rgb(0, 0, 0);">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <table class="table table-striped table-responsive-md table-responsive-sm btn-table mt-2">
          <tbody>
              <tr>
                  <td data-row="1"><strong>Player</strong></td>
                  <td data-row="1"><strong>Role</strong></td>
                  <td data-row="1"><strong>Price</strong></td>
              </tr>
              <tr>
                  <td data-row="2">Shreyas Iyer (R)</td>
                  <td data-row="2">Batsman</td>
                  <td data-row="2">7 crore</td>
              </tr>
              <tr>
                  <td data-row="3">Ajinkya Rahane (R)</td>
                  <td data-row="3">Batsman</td>
                  <td data-row="3">5.25 crore</td>
              </tr>
              <tr>
                  <td data-row="4">Keemo Paul (R)</td>
                  <td data-row="4">Batsman</td>
                  <td data-row="4">50 lakhs</td>
              </tr>
              <tr>
                  <td data-row="5">Prithvi Shaw (R)</td>
                  <td data-row="5">Batsman</td>
                  <td data-row="5">1.20 crore</td>
              </tr>
              <tr>
                  <td data-row="6">Shikhar Dhawan (R)</td>
                  <td data-row="6">Batsman</td>
                  <td data-row="6">5.20 crore</td>
              </tr>
              <tr>
                  <td data-row="7">Shimron Hetmyer</td>
                  <td data-row="7">Batsman</td>
                  <td data-row="7">7.75 crore</td>
              </tr>
              <tr>
                  <td data-row="9">Rishabh Pant (R)</td>
                  <td data-row="9">Wicket Keeper</td>
                  <td data-row="9">15 crore</td>
              </tr>
              <tr>
                  <td data-row="10">Alex Carey</td>
                  <td data-row="10">Wicket Keeper</td>
                  <td data-row="10">2.40 crore</td>
              </tr>
              <tr>
                  <td data-row="11">Marcus Stoinis</td>
                  <td data-row="11">All-Rounder</td>
                  <td data-row="11">4.80 crore</td>
              </tr>
              <tr>
                  <td data-row="12">Lalith Yadav</td>
                  <td data-row="12">All-Rounder</td>
                  <td data-row="12">20 lakhs</td>
              </tr>
              <tr>
                  <td data-row="row-nso2">Daniel Sams</td>
                  <td data-row="row-nso2">Bowler</td>
                  <td data-row="row-nso2">-</td>
              </tr>
              <tr>
                  <td data-row="13">Anrich Nortje</td>
                  <td data-row="13">Bowler</td>
                  <td data-row="13">-</td>
              </tr>
              <tr>
                  <td data-row="14">Avesh Khan (R)</td>
                  <td data-row="14">Bowler</td>
                  <td data-row="14">70 lakhs</td>
              </tr>
              <tr>
                  <td data-row="15">Ravichandran Ashwin (R)</td>
                  <td data-row="15">Bowler</td>
                  <td data-row="15">7.60 crore</td>
              </tr>
              <tr>
                  <td data-row="16">Sandeep Lamichhane (R)</td>
                  <td data-row="16">Bowler</td>
                  <td data-row="16">20 lakhs</td>
              </tr>
              <tr>
                  <td data-row="17">Axar Patel (R)</td>
                  <td data-row="17">Bowler</td>
                  <td data-row="17">5 crore</td>
              </tr>
              <tr>
                  <td data-row="18">Harshal Patel (R)</td>
                  <td data-row="18">Bowler</td>
                  <td data-row="18">20 lakhs</td>
              </tr>
              <tr>
                  <td data-row="19">Ishant Sharma (R)</td>
                  <td data-row="19">Bowler</td>
                  <td data-row="19">1.10 crore</td>
              </tr>
              <tr>
                  <td data-row="20">Kagiso Rabada (R)</td>
                  <td data-row="20">Bowler</td>
                  <td data-row="20">4.20 crore</td>
              </tr>
              <tr>
                  <td data-row="21">Mohit Sharma</td>
                  <td data-row="21">Bowler</td>
                  <td data-row="21">50 lakhs</td>
              </tr>
              <tr>
                  <td data-row="22">Tushar Deshpande</td>
                  <td data-row="22">Bowler</td>
                  <td data-row="22">20 lakhs</td>
              </tr>
              <tr>
                  <td data-row="23">Amit Mishra (R)</td>
                  <td data-row="23">Bowler</td>
                  <td data-row="23">4 crore</td>
              </tr>
          </tbody>
      </table>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>



          </div>

        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->


  </section>
  <!-- Section: Block Content -->

</div>
