<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg  navbar-dark blue darken-3">
  <a class="navbar-brand" href="#">IPL2020</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Teams']">
          <i class="fa fa-users"></i> Teams

        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/MatchSchedule']">
          <i class='fas fa-clock'></i> Schedule</a>
      </li>

    </ul>
  </div>
</nav>
<!--/.Navbar -->
