<div class="container py-2">


  <!--Section: Content-->
  <section class="text-center px-md-5 mx-md-5 dark-grey-text">

    <div class="row mb-5">
      <div class="col-md-4 mx-auto">
        <div class="view">
          <img src="assets/cc.webp" class="img-fluid" alt="smaple image">
        </div>
      </div>
    </div>

    <h1 style="text-align: center;">Winners <i class="fa fa-trophy"></i></h1>

  </section>
  <!--Section: Content-->


</div>

<table class="table table-striped table-responsive-md table-responsive-sm btn-table">
  <tbody>
      <tr>
          <td data-row="1"><strong>Year</strong></td>
          <td data-row="1"><strong>Winner</strong></td>
          <td data-row="1"><strong>Runner Up</strong></td>
          <td data-row="1"><strong>Venue</strong></td>
          <td data-row="1"><strong>Number of teams</strong></td>
          <td data-row="1"><strong>Player of the Match</strong></td>
          <td data-row="1"><strong>Player of the Series</strong></td>
      </tr>
      <tr>
          <td data-row="2" class="ql-align-right">2019</td>
          <td data-row="2">Mumbai Indians</td>
          <td data-row="2">
                  Chennai Super Kings</td>
          <td data-row="2">Hyderabad</td>
          <td data-row="2" class="ql-align-right">8</td>
          <td data-row="2">Jasprit Bumrah</td>
          <td data-row="2">Andre Russell</td>
      </tr>
      <tr>
          <td data-row="3" class="ql-align-right">2018</td>
          <td data-row="3">Chennai Super Kings</td>
          <td data-row="3">Sunrisers Hyderabad</td>
          <td data-row="3">Mumbai</td>
          <td data-row="3" class="ql-align-right">8</td>
          <td data-row="3">Shane Watson</td>
          <td data-row="3">Sunil Narine</td>
      </tr>
      <tr>
          <td data-row="4" class="ql-align-right">2017</td>
          <td data-row="4">Mumbai Indians</td>
          <td data-row="4">Rising Pune Supergiants</td>
          <td data-row="4">Hyderabad</td>
          <td data-row="4" class="ql-align-right">8</td>
          <td data-row="4">Krunal Pandya</td>
          <td data-row="4">Ben Stokes</td>
      </tr>
      <tr>
          <td data-row="5" class="ql-align-right">2016</td>
          <td data-row="5">Sunrisers Hyderabad</td>
          <td data-row="5">Royal Challengers Bangalore</td>
          <td data-row="5">Bangalore</td>
          <td data-row="5" class="ql-align-right">8</td>
          <td data-row="5">Ben Cutting</td>
          <td data-row="5">Virat Kohli</td>
      </tr>
      <tr>
          <td data-row="6" class="ql-align-right">2015</td>
          <td data-row="6">Mumbai Indians</td>
          <td data-row="6">Chennai Super Kings</td>
          <td data-row="6">Kolkata</td>
          <td data-row="6" class="ql-align-right">8</td>
          <td data-row="6">Rohit Sharma</td>
          <td data-row="6">Andre Russell</td>
      </tr>
      <tr>
          <td data-row="7" class="ql-align-right">2014</td>
          <td data-row="7">Kolkata Knight Riders</td>
          <td data-row="7">Kings XI Punjab</td>
          <td data-row="7">Bangalore</td>
          <td data-row="7" class="ql-align-right">8</td>
          <td data-row="7">Manish Pandey</td>
          <td data-row="7">Glenn Maxwell</td>
      </tr>
      <tr>
          <td data-row="8" class="ql-align-right">2013</td>
          <td data-row="8">>Mumbai Indians</td>
          <td data-row="8">Chennai Super Kings</td>
          <td data-row="8">Kolkata</td>
          <td data-row="8" class="ql-align-right">9</td>
          <td data-row="8">Kieron Pollard</td>
          <td data-row="8">Shane Watson</td>
      </tr>
      <tr>
          <td data-row="9" class="ql-align-right">2012</td>
          <td data-row="9">Kolkata Knight Riders</td>
          <td data-row="9">Chennai Super Kings</td>
          <td data-row="9">Chennai</td>
          <td data-row="9" class="ql-align-right">9</td>
          <td data-row="9">Manvinder Bisla</td>
          <td data-row="9">Sunil Narine</td>
      </tr>
      <tr>
          <td data-row="10" class="ql-align-right">2011</td>
          <td data-row="10">Chennai Super Kings</td>
          <td data-row="10">Royal Challengers Bangalore</td>
          <td data-row="10">Chennai</td>
          <td data-row="10" class="ql-align-right">10</td>
          <td data-row="10">Murali Vijay</td>
          <td data-row="10">Chris Gayle</td>
      </tr>
      <tr>
          <td data-row="11" class="ql-align-right">2010</td>
          <td data-row="11">Chennai Super Kings</td>
          <td data-row="11">Mumbai Indians</td>
          <td data-row="11">Mumbai</td>
          <td data-row="11" class="ql-align-right">8</td>
          <td data-row="11">Suresh Raina</td>
          <td data-row="11">Sachin Tendulkar</td>
      </tr>
      <tr>
          <td data-row="12" class="ql-align-right">2009</td>
          <td data-row="12">Deccan Chargers</td>
          <td data-row="12">Royal Challengers Bangalore</td>
          <td data-row="12">Johhanesburg</td>
          <td data-row="12" class="ql-align-right">8</td>
          <td data-row="12">Anil Kumble</td>
          <td data-row="12">Adam Gilchrist</td>
      </tr>
      <tr>
          <td data-row="13" class="ql-align-right">2008</td>
          <td data-row="13">Rajasthan Royals</td>
          <td data-row="13">Chennai Super Kings</td>
          <td data-row="13">Mumbai</td>
          <td data-row="13" class="ql-align-right">8</td>
          <td data-row="13">Yusuf Pathan</td>
          <td data-row="13">Shane Watson</td>
      </tr>
  </tbody>
</table>
