<div class="container my-5 py-5 ">


  <!--Section: Content-->
  <section class="text-center px-md-5 mx-md-5 dark-grey-text">

    <div class="row mb-5">
      <div class="col-md-8 mx-auto">
        <div class="view mb-4 pb-2">
          <img src="assets/team.jpg" class="img-fluid" alt="smaple image">
        </div>
      </div>
    </div>

    <h1 class="font-weight-bold mb-4 pb-2">IPL 2020 Teams</h1>

    <p class="text-center mx-auto mb-4 pb-2">This year, a total of eight teams will be a part of the IPL 2020, similar to the last season. No new teams will be included. </p>

    <button type="button" class="btn blue darken-3 btn-rounded" style="border-radius: 30px;color:#fff" data-toggle="collapse" data-target="#demo">Some More Details</button>
    <div id="demo" class="collapse">
      <table class="table table-striped table-responsive-md table-responsive-sm btn-table mt-2">
        <tbody>
            <tr>
                <td data-row="1"><strong style="color: rgb(0, 0, 0); background-color: transparent;">Team</strong></td>
                <td data-row="1"><strong style="color: rgb(0, 0, 0); background-color: transparent;">Home Ground</strong>
                </td>
                <td data-row="1"><strong style="color: rgb(0, 0, 0); background-color: transparent;">City</strong></td>
                <td data-row="1"><strong style="color: rgb(0, 0, 0); background-color: transparent;">Coach</strong></td>
                <td data-row="1"><strong style="color: rgb(0, 0, 0); background-color: transparent;">Captain</strong></td>
            </tr>
            <tr>
                <td data-row="2"><span style="color: rgb(0, 0, 0); background-color: transparent;">Mumbai Indians</span>
                </td>
                <td data-row="2"><span style="color: rgb(0, 0, 0); background-color: transparent;">Wankhede Stadium,
                        Mumbai</span></td>
                <td data-row="2"><span style="color: rgb(0, 0, 0); background-color: transparent;">Mumbai,
                        Maharashtra</span></td>
                <td data-row="2"><span style="color: rgb(0, 0, 0); background-color: transparent;">Mahela Jayawardene</span>
                </td>
                <td data-row="2"><span style="color: rgb(0, 0, 0); background-color: transparent;">Rohit Sharma</span></td>
            </tr>
            <tr>
                <td data-row="3"><span style="color: rgb(0, 0, 0); background-color: transparent;">Chennai Super
                        Kings</span></td>
                <td data-row="3"><span style="color: rgb(0, 0, 0); background-color: transparent;">M.A. Chidambaram Stadium,
                        Chennai</span></td>
                <td data-row="3"><span style="color: rgb(0, 0, 0); background-color: transparent;">Chennai, Tamil
                        Nadu</span></td>
                <td data-row="3"><span style="color: rgb(0, 0, 0); background-color: transparent;">Stephen Fleming</span>
                </td>
                <td data-row="3"><span style="color: rgb(0, 0, 0); background-color: transparent;">MS Dhoni</span></td>
            </tr>
            <tr>
                <td data-row="4"><span style="color: rgb(0, 0, 0); background-color: transparent;">Delhi Capitals</span>
                </td>
                <td data-row="4"><span style="color: rgb(0, 0, 0); background-color: transparent;">Arun Jaitley
                        Stadium</span></td>
                <td data-row="4"><span style="color: rgb(0, 0, 0); background-color: transparent;">Delhi, NCR</span></td>
                <td data-row="4"><span style="color: rgb(0, 0, 0); background-color: transparent;">Ricky Ponting</span></td>
                <td data-row="4"><span style="color: rgb(0, 0, 0); background-color: transparent;">Shreyas Iyer</span></td>
            </tr>
            <tr>
                <td data-row="5"><span style="color: rgb(0, 0, 0); background-color: transparent;">Kings XI Punjab</span>
                </td>
                <td data-row="5"><span style="color: rgb(0, 0, 0); background-color: transparent;">IS Bindra Stadium</span>
                </td>
                <td data-row="5"><span style="color: rgb(0, 0, 0); background-color: transparent;">Mohali, Punjab</span>
                </td>
                <td data-row="5"><span style="color: rgb(0, 0, 0); background-color: transparent;">Anil Kumble</span></td>
                <td data-row="5"><span style="color: rgb(0, 0, 0); background-color: transparent;">KL Rahul</span></td>
            </tr>
            <tr>
                <td data-row="6"><span style="color: rgb(0, 0, 0); background-color: transparent;">Kolkata Knight
                        Riders</span></td>
                <td data-row="6"><span style="color: rgb(0, 0, 0); background-color: transparent;">Eden Gardens</span></td>
                <td data-row="6"><span style="color: rgb(0, 0, 0); background-color: transparent;">Kolkata, West
                        Bengal</span></td>
                <td data-row="6"><span style="color: rgb(0, 0, 0); background-color: transparent;">Brendon McCullum</span>
                </td>
                <td data-row="6"><span style="color: rgb(0, 0, 0); background-color: transparent;">Dinesh Karthik</span>
                </td>
            </tr>
            <tr>
                <td data-row="7"><span style="color: rgb(0, 0, 0); background-color: transparent;">Rajasthan Royals</span>
                </td>
                <td data-row="7"><span style="color: rgb(0, 0, 0); background-color: transparent;">Sawai Mansingh
                        Stadium</span></td>
                <td data-row="7"><span style="color: rgb(0, 0, 0); background-color: transparent;">Jaipur, Rajasthan</span>
                </td>
                <td data-row="7"><span style="color: rgb(0, 0, 0); background-color: transparent;">Andrew McDonald</span>
                </td>
                <td data-row="7"><span style="color: rgb(0, 0, 0); background-color: transparent;">Steve Smith</span></td>
            </tr>
            <tr>
                <td data-row="8"><span style="color: rgb(0, 0, 0); background-color: transparent;">Royal Challengers
                        Bangalore</span></td>
                <td data-row="8"><span style="color: rgb(0, 0, 0); background-color: transparent;">M. Chinnaswamy
                        Stadium</span></td>
                <td data-row="8"><span style="color: rgb(0, 0, 0); background-color: transparent;">Bengaluru,
                        Karnataka</span></td>
                <td data-row="8"><span style="color: rgb(0, 0, 0); background-color: transparent;">Simon Katich</span></td>
                <td data-row="8"><span style="color: rgb(0, 0, 0); background-color: transparent;">Virat Kohli</span></td>
            </tr>
            <tr>
                <td data-row="9"><span style="color: rgb(0, 0, 0); background-color: transparent;">Sunrisers
                        Hyderabad</span></td>
                <td data-row="9"><span style="color: rgb(0, 0, 0); background-color: transparent;">Rajiv Gandhi
                        International Cricket Stadium</span></td>
                <td data-row="9"><span style="color: rgb(0, 0, 0); background-color: transparent;">Hyderabad,
                        Telangana</span></td>
                <td data-row="9"><span style="color: rgb(0, 0, 0); background-color: transparent;">Trevor Bayliss</span>
                </td>
                <td data-row="9">David Warner</td>
            </tr>
        </tbody>
    </table>
      </div>
      <!-- <iframe src="https://m.cricbuzz.com/cricket-pointstable/3130/indian-premier-league-2020" title="W3Schools Free Online Web Tutorials"></iframe> -->
      <!-- <embed type="text/html" src="https://www.google.com/search?biw=1280&bih=610&sxsrf=ALeKk01LkAn28oDZFSvqmyJgubM7isf8RQ%3A1600710397152&ei=_eZoX4TtCOOQ4-EP1pK18AQ&q=+IPL+Point+Table+2020&oq=+IPL+Point+Table+2020&gs_lcp=CgZwc3ktYWIQAzIECCMQJzIICAAQBxAKEB4yCAgAEAcQChAeMgYIABAIEB4yCAgAEAgQChAeUOUoWOUoYOMwaABwAHgAgAHAAYgBwAGSAQMwLjGYAQCgAQGqAQdnd3Mtd2l6wAEB&sclient=psy-ab&ved=0ahUKEwjE3_D05vrrAhVjyDgGHVZJDU4Q4dUDCA0&uact=5#sie=lg;/g/11h4yld3j_;5;/m/03b_lm1;st;fp;1;;"> -->
<app-player></app-player>


