<div class="container my-5 ">


  <!--Section: Content-->
  <section class="dark-grey-text">

    <div class="row pr-lg-5">

      <div class="col-md-7 d-flex align-items-center">
        <div>

          <h3 class="font-weight-bold mb-4">Indian Premier League</h3>

        	<p>The Indian Premier League (IPL) is a professional Twenty20 cricket league in India contested during Summer of every year by eight teams representing eight different cities in India.The league was founded by the Board of Control for Cricket in India (BCCI) in 2008. The IPL has an exclusive window in ICC Future Tours Programme.</p>

        	<!-- <button type="button" class="btn btn-orange btn-rounded mx-0">Download</button> -->

        </div>
      </div>
      <div class="col-md-5 mb-4">

        <div class="view">
          <img src="assets/ipll.png" class="img-fluid" alt="smaple image">
        </div>

      </div>
    </div>

  </section>
</div>
  <!--Section: Content-->
<div class="container my-5 ">


  <!--Section: Content-->
  <section class="dark-grey-text">

    <div class="row pr-lg-5">
      <div class="col-md-7 mb-4">

        <div class="view">
          <img src="assets/cric.png" class="img-fluid" alt="smaple image">
        </div>

      </div>
      <div class="col-md-5 d-flex align-items-center">
        <div>

          <h3 class="font-weight-bold mb-4">Let's Rock In UAE!!</h3>

        	<p>The 2020 Indian Premier League,IPL 13 is the thirteenth season of the IPL, a professional Twenty20 cricket (T20) league established by the Board of Control for Cricket in India (BCCI) in 2007.
            The tournament was originally scheduled to commence on 29 March 2020, but was suspended until 15 April due to the global coronavirus pandemic. After Indian Prime Minister Narendra Modi announced on 14 April that the lockdown in India would last until at least 3 May 2020, the BCCI suspended the tournament indefinitely. On 2 August 2020, it was announced that the tournament would be played between 19 September and 10 November 2020 in the United Arab Emirates.On 10 August 2020, the Indian government gave its permission for the tournament to take place in the UAE.The full fixtures for the tournament were confirmed on 6 September 2020.</p>

        	<!-- <button type="button" class="btn btn-orange btn-rounded mx-0">Download</button> -->

        </div>
      </div>
    </div>

  </section>
  <!--Section: Content-->


</div>


<div class="container my-5 ">


  <!--Section: Content-->
  <section class="dark-grey-text">

    <div class="row pr-lg-5">

      <div class="col-md-6 d-flex align-items-center">
        <div>

          <h3 class="font-weight-bold mb-4">Winners <i class="fa fa-trophy"></i></h3>

        	<ol class="step pl-0">
            <li class="step-element pb-0">
              <div class="step-number">
                <span class="number p-5">2019</span>
              </div>
              <div class="step-excerpt">
                <br/>
                <h6 class="font-weight-bold dark-grey-text mb-3">Mumbai Indians</h6>
                <p class="text-muted">Man Of The Match: Jasprit Bumrah</p>
              </div>
            </li>
            <li class="step-element pb-0">
              <div class="step-number">
                <span class="number p-5">2018</span>
              </div>
              <div class="step-excerpt">
                <br/>
                <h6 class="font-weight-bold dark-grey-text mb-3">Chennai Super Kings</h6>
                <p class="text-muted">Man Of The Match: Shane Watson</p>
              </div>
            </li>
            <li class="step-element pb-0">
              <div class="step-number">
                <span class="number p-5">2017</span>
              </div>
              <div class="step-excerpt">
                <br/>
                <h6 class="font-weight-bold dark-grey-text mb-3">Mumbai Indians</h6>
                <p class="text-muted">Man Of The Match: Krunal Pandya</p>
              </div>
            </li>
            <li class="step-element pb-0">
              <div class="step-number">
                <span class="number p-5">2016</span>
              </div>
              <div class="step-excerpt">
              <br>
                <h6 class="font-weight-bold dark-grey-text mb-3">Sunrisers Hyderabad</h6>
                <p class="text-muted">Man Of The Match: Ben Cutting</p>
              </div>
            </li>

          </ol>


        	<!-- <button type="button" class="btn btn-orange btn-rounded mx-0">Download</button> -->

        </div>
      </div>
      <div class="col-md-6 mb-4">

        <div class="view">
          <br/>
          <br/>

          <img src="assets/batsman.gif" class="img-fluid" alt="smaple image">
          <div class="row mx-auto">
          <a class="btn  blue darken-3 col m-5" [routerLink]="['/Winner']" style="border-radius: 30px;color:#fff">Check All The Winner Teams</a>
        </div>
        </div>

      </div>
    </div>

  </section>
</div>
