<br/>
<h2 style="text-align: center;margin-top: 5px;">IPL 2020- Schedule</h2>
<table class="table table-striped table-responsive-md table-responsive-sm btn-table mt-2">
  <thead>
 <tr>
    <th data-label="Match No" scope="col">Match No</th>
    <th data-label="Match Center" scope="col">Match</th>
    <th data-label="Date" scope="col">Date</th>
    <th data-label="Day" scope="col">Day</th>
    <th data-label="Time India (IST)" scope="col">Time India (IST)</th>
    <th data-label="Time UAE" scope="col">Time UAE</th>
    <th data-label="Venuue" scope="col">Venue</th>
   </tr>
 </thead>
  <tbody>
 <tr>
    <th data-label="Match No" scope="row">1</th>
    <td data-label="Match Center">Mumbai Indians (MI) Chennai Super Kings (CSK)</td>
    <td data-label="Date">19 September 2020</td>
    <td data-label="Day">Saturday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">ABU DHABI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">2</th>
    <td data-label="Match Center">Delhi Capitals (DC) Vs Kings XI Punjab (KXIP)</td>
    <td data-label="Date">20 September 2020</td>
    <td data-label="Day">Sunday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">DUBAI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">3</th>
    <td data-label="Match Center">Sun Risers Hyderabad (SRH) Vs Royal Challengers Bangalore (RCB)</td>
    <td data-label="Date">21 September 2020</td>
    <td data-label="Day">Monday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">DUBAI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">4</th>
    <td data-label="Match Center">Rajasthan Royals (RR) Vs Chennai Super Kings (CSK)</td>
    <td data-label="Date">22 September 2020</td>
    <td data-label="Day">Tuesday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">SHARJAH</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">5</th>
    <td data-label="Match Center">Kolkata Knight Riders (KKR) Vs Mumbai Indians (MI)</td>
    <td data-label="Date">23 September 2020</td>
    <td data-label="Day">Wednesday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">ABU DHABI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">6</th>
    <td data-label="Match Center">Kings XI Punjab (KXIP) Vs Royal Challengers Bangalore (RCB)</td>
    <td data-label="Date">24 September 2020</td>
    <td data-label="Day">Thursday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">DUBAI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">7</th>
    <td data-label="Match Center">Chennai Super Kings (CSK) Vs Delhi Capitals (DC)</td>
    <td data-label="Date">25 September 2020</td>
    <td data-label="Day">Friday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">DUBAI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">8</th>
    <td data-label="Match Center">Kolkata night Riders (KKR) un Risers Hyderabad (SRH)</td>
    <td data-label="Date">26 September 2020</td>
    <td data-label="Day">Saturday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">ABU DHABI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">9</th>
    <td data-label="Match Center">Rajasthan Royals (RR) Vs Kings XI Punjab (KXIP)</td>
    <td data-label="Date">27 September 2020</td>
    <td data-label="Day">Sunday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">SHARJAH</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">10</th>
    <td data-label="Match Center">Royal Challengers Bangalore (RCB) Vs Mumbai Indians (MI)</td>
    <td data-label="Date">28 September 2020</td>
    <td data-label="Day">Monday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">DUBAI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">11</th>
    <td data-label="Match Center">Delhi Capitals (DC) Vs Sun Risers Hyderabad (SRH)</td>
    <td data-label="Date">29 September 2020</td>
    <td data-label="Day">Tuesday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">ABU DHABI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">12</th>
    <td data-label="Match Center">Rajasthan Royals (RR) Vs Kolkata Knight Riders (KKR)</td>
    <td data-label="Date">30 September 2020</td>
    <td data-label="Day">Wednesday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">DUBAI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">13</th>
    <td data-label="Match Center">Kings XI Punjab (KXIP) Vs Mumbai Indians (MI)</td>
    <td data-label="Date">01 October 2020</td>
    <td data-label="Day">Thursday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">ABU DHABI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">14</th>
    <td data-label="Match Center">Chennai Super Kings (CSK) Vs Sun Risers Hyderabad (SRH)</td>
    <td data-label="Date">02 October 2020</td>
    <td data-label="Day">Friday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">DUBAI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">15</th>
    <td data-label="Match Center">Royal Challengers Bangalore (RCB) Vs Rajasthan Royals (RR)</td>
    <td data-label="Date">03 October 2020</td>
    <td data-label="Day">Saturday</td>
    <td data-label="Time India (IST)">3:30 PM IST</td>
    <td data-label="Time UAE">2:00 PM UAE</td>
    <td data-label="Venuue">ABU DHABI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">16</th>
    <td data-label="Match Center">Delhi Capitals (DC) Vs Kolkata Knight Riders (KKR)</td>
    <td data-label="Date">03 October 2020</td>
    <td data-label="Day">Saturday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">SHARJAH</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">17</th>
    <td data-label="Match Center">Mumbai Indians (MI) Vs Sun Risers Hyderabad (SRH)</td>
    <td data-label="Date">04 October 2020</td>
    <td data-label="Day">Sunday</td>
    <td data-label="Time India (IST)">3:30 PM IST</td>
    <td data-label="Time UAE">2:00 PM UAE</td>
    <td data-label="Venuue">SHARJAH</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">18</th>
    <td data-label="Match Center">Kings XII Punjab (KXIP) Vs ChenSuper Kings (CSK)</td>
    <td data-label="Date">04 October 2020</td>
    <td data-label="Day">Sunday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">DUBAI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">19</th>
    <td data-label="Match Center">Royal Challengers Bangalore (RCB) Vs Delhi Capitals (DC)</td>
    <td data-label="Date">05 October 2020</td>
    <td data-label="Day">Monday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">DUBAI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">20</th>
    <td data-label="Match Center">Mumbai Indians (MI) Vs Rajasthan Royals (RR)</td>
    <td data-label="Date">06 October 2020</td>
    <td data-label="Day">Tuesday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">ABU DHABI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">21</th>
    <td data-label="Match Center">Kolkata Knight Riders (KKR) Vs Chennai Super Kings (CSK)</td>
    <td data-label="Date">07 October 2020</td>
    <td data-label="Day">Wednesday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">ABU DHABI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">22</th>
    <td data-label="Match Center">Sun Risers Hyderabad (SRH) Vs Kings XI Punjab (KXIP)</td>
    <td data-label="Date">08 October 2020</td>
    <td data-label="Day">Thursday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">DUBAI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">23</th>
    <td data-label="Match Center">Rajasthan Royals (RR) Vs Delhi capitals(DC)</td>
            <td data-label="Date">09 October 2020</td>
    <td data-label="Day">Friday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">SHARJAH</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">24</th>
    <td data-label="Match Center">Kings XI Punjab (KXIP) Vs Kolkata Knight Riders (KKR)</td>
    <td data-label="Date">10 October 2020</td>
    <td data-label="Day">Saturday</td>
    <td data-label="Time India (IST)">3:30 PM IST</td>
    <td data-label="Time UAE">2:00 PM UAE</td>
    <td data-label="Venuue">ABU DHABI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">25</th>
    <td data-label="Match Center">Chennai Super Kings (CSK) Vs Royal Challengers Bangalore (RCB)</td>
    <td data-label="Date">10 October 2020</td>
    <td data-label="Day">Saturday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">DUBAI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">26</th>
    <td data-label="Match Center">Sun Risers Hyderabad (SRH) Vs Rajasthan Royals (RR)</td>
    <td data-label="Date">11 October 2020</td>
    <td data-label="Day">Sunday</td>
    <td data-label="Time India (IST)">3:30 PM IST</td>
    <td data-label="Time UAE">2:00 PM UAE</td>
    <td data-label="Venuue">DUBAI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">27</th>
    <td data-label="Match Center">Mumbai Indians (MI) Vs Delhi Capitals (DC)</td>
    <td data-label="Date">11 October 2020</td>
    <td data-label="Day">Sunday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">ABU DHABI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">28</th>
    <td data-label="Match Center">Royal Challengers Bangalore RCB Vs Kolkata Knight Riders (KKR)</td>
    <td data-label="Date">12 October 2020</td>
    <td data-label="Day">Monday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">SHARJAH</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">29</th>
    <td data-label="Match Center">Sun Risers Hyderabad (SRH) Vs Chennai Super Kings (CSK)</td>
    <td data-label="Date">13 October 2020</td>
    <td data-label="Day">Tuesday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">DUBAI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">30</th>
    <td data-label="Match Center">Delhi Capitals (DC) Vs Rajasthan Royals (RR)</td>
    <td data-label="Date">14 October 2020</td>
    <td data-label="Day">Wednesday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">DUBAI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">31</th>
    <td data-label="Match Center">Royal Challengers Bangalore (RCB) Vs Kings XI Punjab (KXIP)</td>
    <td data-label="Date">15 October 2020</td>
    <td data-label="Day">Thursday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">SHARJAH</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">32</th>
    <td data-label="Match Center">Mumbai Indians (MI) Vs Kolkata Knight Riders (KKR)</td>
    <td data-label="Date">16 October 2020</td>
    <td data-label="Day">Friday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">ABU DHABI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">33</th>
    <td data-label="Match Center">Rajasthan Royals (RR) Vs Royal Challengers Bangalore (RCB)</td>
    <td data-label="Date">17 October 2020</td>
    <td data-label="Day">Saturday</td>
    <td data-label="Time India (IST)">3:30 PM IST</td>
    <td data-label="Time UAE">2:00 PM UAE</td>
    <td data-label="Venuue">DUBAI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">34</th>
    <td data-label="Match Center">Delhi Capitals (DC) Vs Chennai Super Kings (CSK)</td>
    <td data-label="Date">17 October 2020</td>
    <td data-label="Day">Saturday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">SHARJAH</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">35</th>
    <td data-label="Match Center">Sun Risers Hyderabad (SRH) Vs Kolkata Knight Riders (KKR)</td>
    <td data-label="Date">18 October 2020</td>
    <td data-label="Day">Sunday</td>
    <td data-label="Time India (IST)">3:30 PM IST</td>
    <td data-label="Time UAE">2:00 PM UAE</td>
    <td data-label="Venuue">ABU DHABI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">36</th>
    <td data-label="Match Center">Mumbai Indians (MI) Vs Kings XI Punjab (KXIP)</td>
    <td data-label="Date">18 October 2020</td>
    <td data-label="Day">Sunday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">DUBAI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">37</th>
    <td data-label="Match Center">Chennai Super Kings (CSK) Vs Rajasthan Royals (RR)</td>
    <td data-label="Date">19 October 2020</td>
    <td data-label="Day">Monday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">ABU DHABI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">38</th>
    <td data-label="Match Center">Kings XI Punjab (KXIP) Vs Delhi Capitals (DC)</td>
    <td data-label="Date">20 October 2020</td>
    <td data-label="Day">Tuesday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">DUBAI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">39</th>
    <td data-label="Match Center">Kolkata Knight Riders (KKR) Vs Royal Challengers Bangalore (RCB)</td>
    <td data-label="Date">21 October 2020</td>
    <td data-label="Day">Wednesday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">ABU DHABI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">40</th>
    <td data-label="Match Center">Rajasthan Royals (RR) Vs Sun Risers Hyderabad (SRH)</td>
    <td data-label="Date">22 October 2020</td>
    <td data-label="Day">Thursday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">DUBAI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">41</th>
    <td data-label="Match Center">Chennai Super Kings<(CSK) Vs Mumbai Indians (MI)</td>
    <td data-label="Date">23 October 2020</td>
    <td data-label="Day">Friday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">SHARJAH</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">42</th>
    <td data-label="Match Center">Kolkata Knight Riders (KKR) Vs Delhi Capitals (DC)</td>
    <td data-label="Date">24 October 2020</td>
    <td data-label="Day">Saturday</td>
    <td data-label="Time India (IST)">3:30 PM IST</td>
    <td data-label="Time UAE">2:00 PM UAE</td>
    <td data-label="Venuue">ABU DHABI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">43</th>
    <td data-label="Match Center">Kings XI Punjab (KXIP) Vs Sun Risers Hyderabad (SRH)</td>
    <td data-label="Date">24 October 2020</td>
    <td data-label="Day">Saturday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">DUBAI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">44</th>
    <td data-label="Match Center">Royal Challengers Bangalore (RCB) Vs Chennai Super Kings (CSK)</td>
    <td data-label="Date">24 October 2020</td>
    <td data-label="Day">Sunday</td>
    <td data-label="Time India (IST)">3:30 PM IST</td>
    <td data-label="Time UAE">2:00 PM UAE</td>
    <td data-label="Venuue">DUBAI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">45</th>
    <td data-label="Match Center">Rajasthan Royals (RR) Vs Mumbai Indians (MI)</td>
    <td data-label="Date">25 October 2020</td>
    <td data-label="Day">Sunday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">ABU DHABI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">46</th>
    <td data-label="Match Center">Kolkata Knight Riders (KKR) Vs Kings XI Punjab (KXIP)</td>
    <td data-label="Date">26 October 2020</td>
    <td data-label="Day">Monday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">SHARJAH</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">47</th>
    <td data-label="Match Center">Sun Risers Hyderabad (SRH) Vs Delhi Capitals (DC)</td>
    <td data-label="Date">27 October 2020</td>
    <td data-label="Day">Tuesday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">DUBAI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">48</th>
    <td data-label="Match Center">Mumbai Indians (MI) Vs Royal Challengers Bangalore (RCB)</td>
    <td data-label="Date">28 October 2020</td>
    <td data-label="Day">Wednesday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">ABU DHABI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">49</th>
    <td data-label="Match Center">Chennai Super Kings (CSK) Vs Kolkata Knight Riders (KKR)</td>
    <td data-label="Date">29 October 2020</td>
    <td data-label="Day">Thursday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">DUBAI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">50</th>
    <td data-label="Match Center">Kings XI Punjab (KXIP) Vs Rajasthan Royals (RR)</td>
           <td data-label="Date">30 October 2020</td>
    <td data-label="Day">Friday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">ABU DHABI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">51</th>
    <td data-label="Match Center">Delhi Capitals (DC) Vs Mumbai Indians (MI)</td>
    <td data-label="Date">31 October 2020</td>
    <td data-label="Day">Saturday</td>
    <td data-label="Time India (IST)">3:30 PM IST</td>
    <td data-label="Time UAE">2:00 PM UAE</td>
    <td data-label="Venuue">DUBAI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">52</th>
    <td data-label="Match Center">Royal Challengers Bangalore (RCB) Vs Sun Risers Hyderabad (SRH)</td>
    <td data-label="Date">31 October 2020</td>
    <td data-label="Day">Saturday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">SHARJAH</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">53</th>
    <td data-label="Match Center">Chennai Super Kings (CSK) Vs Kings XI Punjab (KXIP)</td>
    <td data-label="Date">01 November 2020</td>
    <td data-label="Day">Sunday</td>
    <td data-label="Time India (IST)">3:30 PM IST</td>
    <td data-label="Time UAE">2:00 PM UAE</td>
    <td data-label="Venuue">ABU DHABI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">54</th>
    <td data-label="Match Center">Kolkata Knight Riders (KKR) Vs Rajasthan Royals (RR)</td>
    <td data-label="Date">01 November 2020</td>
    <td data-label="Day">Sunday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">DUBAI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">55</th>
    <td data-label="Match Center">Delhi Capitals (DC) Vs Royal Challengers Bangalore (RCB)</td>
    <td data-label="Date">02 November 2020</td>
    <td data-label="Day">Monday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">ABU DHABI</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">56</th>
    <td data-label="Match Center">Sun Risers Hyderabad (SRH) Vs Mumbai Indians (MI)</td>
    <td data-label="Date">03 November 2020</td>
    <td data-label="Day">Tuesday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">SHARJAH</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">57</th>
    <td data-label="Match Center">Qualifier-1</td>
    <td data-label="Date">TBD</td>
    <td data-label="Day">TBD</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">TBD</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">58</th>
    <td data-label="Match Center">Eliminator</td>
    <td data-label="Date">TBD</td>
    <td data-label="Day">TBD</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">TBD</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">59</th>
    <td data-label="Match Center">Qualifier-2</td>
    <td data-label="Date">TBD</td>
    <td data-label="Day">TBD</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">TBD</td>
   </tr>
 <tr>
    <th data-label="Match No" scope="row">60</th>
    <td data-label="Match Center">FINAL</td>
    <td data-label="Date">10 November 2020</td>
    <td data-label="Day">Sunday</td>
    <td data-label="Time India (IST)">7:30 PM IST</td>
    <td data-label="Time UAE">6:00 PM UAE</td>
    <td data-label="Venuue">TBD</td>
   </tr>
 </tbody>
 </table>
